@include mobile {
    .header {
        flex-direction: column;
        .header__wrapperLogo {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__title {
                visibility: visible;
            }
        }
        .header__wrapperNav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .header__list {
                display: none;
                width: 100%;
                align-items: center;
                flex-direction: column;
                .header__point {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 1px solid grey;
                    padding-left: 6.25%;
                    padding-right: 6.25%;
                    padding-top: 3.5%;
                    padding-bottom: 3.5%;
                    .header__link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        font-size: 20px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: $color-black;
                        font-weight: 500;
                        font-family: "Oswald";
                    }
                }
                &:target {
                    display: flex;
                }
            }
        }
    }
}

@include tablet {
    .header {
        .header__wrapperLogo {
            width: 30%;
            display: flex;
            align-items: center;
            .header__title {
                visibility: hidden;
            }
            .header__burger {
                visibility: hidden;
            }
        }
        .header__wrapperNav {
            width: 70%;
            display: flex;
            align-items: center;
            .header__list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header__point {
                    .header__link {
                        font-size: 18px;
                        line-height: 25px;
                        text-transform: uppercase;
                        color: $color-nero;
                        font-weight: 400;
                        font-family: "Oswald";
                        &:hover {
                            opacity: 0.600;
                        }
                        &:active {
                            opacity: 0.302;
                        }
                    }
                    .header__link--active {
                        border-bottom: 1px solid $color-apple;
                    }
                    &:not(:last-child){
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}

@include laptop {
    .header__wrapperLogo {
        width: 50%;
        display: flex;
        align-items: center;
        .header__title {
            visibility: hidden;
        }
        .header__burger {
            visibility: hidden;
        }
    }
    .header__wrapperNav {
        display: flex;
        align-items: center;
        width: 50%;
        z-index: 100;
        .header__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__point {
                .header__link {
                    font-size: 20px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: $color-default-white;
                    font-weight: 400;
                    font-family: "Oswald";
                    &:hover {
                        opacity: 0.600;
                    }
                    &:active {
                        opacity: 0.302;
                    }
                }
                .header__link--active {
                    border-bottom: 2px solid $color-default-white;
                }
                &:not(:last-child){
                    margin-right: 22px;
                }
            }
        }
    }
}