@include tablet {
    .banner {
        width: 100%;
        display: flex;
        justify-content: start;
        margin: 0;
        padding: 0;
        flex-direction: column;
        .banner__title {
            width: 420px;
            padding-left: 6.25%;
            font-size: 60px;
            line-height: 60px;
            color: $color-black;
            font-weight: 400;
            font-family: "Oswald";
        }
        .banner__text {
            padding-left: 6.25%;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: $color-black;
            font-weight: 400;
            font-family: "Oswald";
        }
        .banner__link {
            visibility: hidden;
        }
    }
    .food {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        .food__picture {
            .food__img {
                width: 70%;
            }
        }
        .food__link {
            margin-left: 6.25%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-apple;
            padding: 2%;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: $color-default-white;
            font-weight: 400;
            font-family: "Oswald";
            z-index: 100;
            &:hover {
                background-color: $color-limeade;
            }
            &:active {
                color:rgba($color: $color-default-white, $alpha: 0.302)
            }
        }
    }
    .weight {
        display: flex;
        flex-direction: column;
        width: 87.5%;
        margin-left: 6.25%;
        margin-right: 6.25%;
        background-color: $color-winter-smoke;
        margin-top: 5%;
        .weight__title {
            font-size: 36px;
            text-transform: uppercase;
            color: #111111;
            font-weight: 400;
            font-family: "Oswald";
            margin-left: 5%;
        }
        .weight__container{
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            position: relative;
            .weight__text {
                width: 50%;
                font-size: 16px;
                color: #444444;
                font-family: "Arial";
            }
            .weight__link {
                font-size: 20px;
                text-transform: uppercase;
                color: #111111;
                font-weight: 400;
                font-family: "Oswald";
                padding-bottom: 5%;
                &::after {
                    content: " ";
                    width: 24px;
                    height: 11px;
                    background-image: url("../img/right-arrow.png");
                    position: absolute;
                    margin-left: 5%;
                    margin-top: 1%;
                }
            }
            &::after {
                content: " ";
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: $color-apple;
                position: absolute;
                right: 10%;
                bottom: 20%;
            }
        }
        .weight__container--firstCat::after {
            content: " ";
            width: 210px;
            height: 210px;
            background-image: url("../img/cat-3.png");
            position: absolute;
            right: 10%;
            bottom: 20%;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 100;
        }
        .weight__container--secondCat::after {
            content: " ";
            width: 210px;
            height: 210px;
            background-image: url("../img/cat-4.png");
            position: absolute;
            right: 10%;
            bottom: 20%;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 100;
        }
    }
    .main__list {
        width: 87.5%;
        margin-left: 6.25%;
        margin-right: 6.25%;
        .list__title {
            width: 100%;
            text-align: start;
            height: 83px;
            font-size: 60px;
            line-height: 60px;
            color: #111111;
            font-weight: 400;
            font-family: "Oswald";
        }
        .list__list {
            display: flex;
            flex-wrap: wrap;
            .list__point {
                display: flex;
                align-items: end;
                justify-content: start;
                width: 50%;
                height: 250px;
                position: relative;
                p {
                    width: 240px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #444444;
                    font-family: "Arial";
                    position: relative;
                    z-index: 100;
                    &::before {
                        content: " ";
                        width: 80px;
                        height: 80px;
                        background-color: $color-apple;
                        position: absolute;
                        left: 0;
                        top: -150%;
                    }
                }
                #ml1::after {
                    content: " ";
                    width: 30px;
                    height: 30px;
                    background-image: url("../img/advantage-1.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 11%;
                    top: -118%;
                }
                #ml2::after {
                    content: " ";
                    width: 30px;
                    height: 30px;
                    background-image: url("../img/advantage-2.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 11%;
                    top: -118%;
                }
                #ml3::after {
                    content: " ";
                    width: 30px;
                    height: 30px;
                    background-image: url("../img/advantage-3.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 11%;
                    top: -118%;
                }
                #ml4::after {
                    content: " ";
                    width: 30px;
                    height: 30px;
                    background-image: url("../img/advantage-4.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 11%;
                    top: -118%;
                }
            }
            .list__point--leaf::after {
                content: "1";
                width: 71px;
                font-size: 281px;
                line-height: 281px;
                color: #f2f2f2;
                font-weight: 400;
                font-family: "Oswald";
                position: absolute;
                right: 60%;
            }
            .list__point--flour::after {
                content: "2";
                width: 71px;
                font-size: 281px;
                line-height: 281px;
                color: #f2f2f2;
                font-weight: 400;
                font-family: "Oswald";
                position: absolute;
                right: 60%;
            }
            .list__point--fork::after {
                content: "3";
                width: 71px;
                font-size: 281px;
                line-height: 281px;
                color: #f2f2f2;
                font-weight: 400;
                font-family: "Oswald";
                position: absolute;
                right: 60%;
            }
            .list__point--clock::after {
                content: "4";
                width: 71px;
                font-size: 281px;
                line-height: 281px;
                color: #f2f2f2;
                font-weight: 400;
                font-family: "Oswald";
                position: absolute;
                right: 60%;
            }
        }
    }
    .main__content--example {
        background: linear-gradient(
            to top,
            #F5F5F5 40%,
            white 40% 100%
        );
        .example__container {
            width: 87.5%;
            padding-left: 6.25%;
            padding-right: 6.25%;
            display: flex;
            flex-direction: column;
            .example__title {
                font-size: 60px;
                line-height: 60px;
                color: #111111;
                font-weight: 400;
                font-family: "Oswald";
            }
            .example__text {
                width: 708px;
                font-size: 16px;
                line-height: 24px;
                color: #444444;
                font-family: "Arial";
            }
        }
        .example__wrapper {
            width: 87.5%;
            padding-left: 6.25%;
            padding-right: 6.25%;
            display: flex;
            align-items: start;
            justify-content: start;
            article {
                width: 30%;
                display: flex;
                flex-direction: column;
                .example__data {
                    width: 100px;
                    padding: 10%;
                    border: 1px solid grey;
                    border-radius: 2px;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: #111111;
                    font-weight: 400;
                    font-family: "Oswald";
                    text-align: center;
                }
                .example__subText {
                    background-color: white;
                    width: 64px;
                    padding-left: 10%;
                    padding-right: 10%;
                    font-size: 12px;
                    line-height: 12px;
                    color: #444444;
                    font-family: "Arial";
                    text-align: center;
                    margin-top: -20%;
                }
                #text1, #text2 {
                    margin-left: 10%;
                }
            }
        }
        .example__subTitlePrice {
            width: 174px;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: #111111;
            font-weight: 400;
            font-family: "Oswald";
            text-align: right;
            position: absolute;
            right: 10%;
            top: 27%;
        }
        .example__pic {
            position: relative;
            width: 100%;
            margin-left: 15%;
            margin-top: 10%;
            &::after {
                content: " ";
                width: 338px;
                height: 499px;
                background-image: url("..//img/after-desktop.png");
                background-repeat: no-repeat;
                position: absolute;
                right: 17.5%;
                top: -4%;
            }
        }
        .example__subWrapper {
            width: 87.5%;
            padding-left: 6.25%;
            padding-right: 6.25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .example__subTitle {
                font-size: 20px;
                line-height: 20px;
                text-transform: uppercase;
                color: #111111;
                font-weight: 400;
                font-family: "Oswald";
                padding: 5%;
                position: relative;
            }
            .example__subTitle--before::after {
                content: " ";
                width: 429px;
                height: 7px;
                border-radius: 3px;
                background-color: #dcdcdc;
                position: absolute;
                right: -380%;
                top: 47%;
            }
            .example__subTitle--after::before {
                content: " ";
                width: 36px;
                height: 36px;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                left: -212%;
                top: 33%;
            }
            .example__subTitle--after::after {
                content: " ";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $color-apple;
                position: absolute;
                left: -200%;
                top: 48%;

            }
        }
    }
    .main__address {
        margin-top: 10%;
        .address__wrapper {
            display: flex;
            width: 87.5%;
            padding-left: 6.25%;
            padding-right: 6.25%;
            align-items: center;
            justify-content: space-between;
            .address__title {
                width: 293px;
                height: 76px;
                font-size: 20px;
                line-height: 25px;
                text-transform: uppercase;
                color: #111111;
                font-weight: 400;
                font-family: "Oswald";
            }
            .address__text {
                width: 166px;
                height: 84px;
                font-size: 16px;
                line-height: 20px;
                color: #444444;
                font-family: "Arial";
            }
        }
    }
}