.example__cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vh;
    .example__catPicture {
        width: 100%;
        .example__img {
            width: 100%;
        }
    }
    .example__buttons {
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .example__btn {
            border: none;
            background: none;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: $color-black;
            font-weight: 400;
            font-family: "Oswald";
            &:hover { border-bottom: 1px solid lightgray; }
        }
        .example__pointer {
            width: 23vw;
            height: 12px;
            border: 1px solid lightgray;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 2px;
            .example__innerPointer {
                width: 12vw;
                height: 8px;
                background-color: $color-apple;
                border-radius: 8px;
            }
        }
    }
}

@include tablet {
    .example__cat {
        padding-top: 5vh;
        .example__catPicture {
            width: 100%;
            display: flex;
            justify-content: start;
            position: relative;
            &::after {
                content: " ";
                width: 50%;
                height: 100%;
                position: absolute;
                background-image: url("../../../img/half-cat-right.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: contain;
                right: 0;
                top: 0;
            }
            .example__img {
                width: 50%;
            }
        }
        .example__buttons {
            .example__btn {
                font-size: 20px;
            }
            .example__pointer {
                width: 33vw;
                height: 2px;
                border: none;
                border-radius: 8px;
                background-color: lightgray;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                .example__innerPointer {
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    background-color: white;
                    border: 1px solid lightgray;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:active {border: 1px solid $color-apple;}
                    &::after {
                        content: " ";
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: $color-apple;
                        position: relative;
                    }
                }
            }
        }
    }
}

@include laptop {
    .example__cat {
        width: 45vw;
        .example__catPicture {
            width: 100%;
            display: flex;
            justify-content: start;
            position: relative;
            &::after {
                content: " ";
                width: 50%;
                height: 100%;
                position: absolute;
                background-image: url("../../../img/half-cat-right-laptop.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: contain;
                right: 0;
                top: 0;
            }
            .example__img {
                width: 50%;
            }
        }
        .example__buttons {
            width: 42vw;
            .example__btn {
                font-size: 20px;
            }
            .example__pointer {
                width: 22vw;
                height: 4px;
                border: none;
                border-radius: 9px;
                background-color: lightgray;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                .example__innerPointer {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: white;
                    border: 1px solid lightgray;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:active {border: 1px solid $color-apple;}
                    &::after {
                        content: " ";
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: $color-apple;
                        position: relative;
                    }
                }
            }
        }
    }
}