ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

fieldset {
    margin: 0;
    border: none;
    padding-left: 0;
}