.gift {
  height: 40vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../../../../img/catalog/gift-small.svg");
  background-repeat: no-repeat;
  background-size: cover;
  .gift__text {
    width: 50vw;
    font-size: 16px;
    line-height: 20px;
    color: $color-default-white;
    font-family: "Arial";
    text-align: center;
  }
}

@include tablet {
  .gift {
    height: 30vh;
    flex-direction: row;
    background-image: url("../../../../img/catalog/gift-big.svg");
    .gift__text {
      width: 27vw;
      text-align: start;
    }
  }
}

@include laptop {
  .gift {
    width: 25vw;
    height: 50vh;
    margin-top: 0;
    .gift__text {
      width: 12vw;
      text-align: start;
      text-align: center;
    }
  }
}
